header{
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
}
.user{
    padding-top: 10px;
    padding-left: 15px;
  }
  .user img{
    width: 100px;
    height: 100px;
  }
  /* .user article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  } */
  article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 90%;
    margin: auto;
  }

  article p{
    width: 70%;
  }
 